In [12]:
# Import necessary packages and files
#imports personal details to connect to db
import config
#import our function files
# import query_helper
# import payscale_uni_webscrape
import json
import requests
from bs4 import BeautifulSoup
# api_key = config.API_key
import time 
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statistics
import math
import scipy.stats as stats
from scipy import stats
from statsmodels.stats.power import TTestIndPower

In [19]:
# Connect to AWS
##make config file after gabe sends info
cnx = mysql.connector .connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    database = "colleges"
)
cursor = cnx.cursor()

In [14]:
def create_table(query):
    try:
        print("Creating a new table")
        cursor.execute(query)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")
    cursor.close()
    cnx.close()

In [20]:
#write a query entry to creat a table
test_table = """
CREATE TABLE test_table (
      uni varchar(100) PRIMARY KEY
    );
"""

In [21]:
create_table(test_table)

Creating a new table
OK